<h1><span class="badge badge-secondary">Hello, {{name}}!</span></h1>
<!-- Testing ground for Bootstrap -->

<div class="container">
  Click here to get a customized welcome message.
  <div>
    <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get welcome message.</button>
  </div>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
  <h2>Your customised welcome message.</h2>
{{welcomeMessageFromService}}
</div>




<div class="alert alert-info" role="alert">
  <strong>Heads up! </strong>





